.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 18vh;

  color: white;
}

.Homepage button {
  margin: 5px 10px;
  height: 40px;
  width: 80px;
}

.Homepage-flavor-text {
  margin-top: 35px;
  font: 1.1em sans-serif;
  width: 50%;
}
