body {
  background-image: url("../../public/joblybackground.png");
  background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  cursor: pointer;
}

label {
  font: 1rem sans-serif;
}
