.Nav {
  position: sticky;
  top: 0;
  height: 40px;
  z-index: 3;
  background-color: white;

  display: flex;
  justify-content: space-between;
}

.Nav-pagelinks {
  display: flex;
}

.Nav a {
  margin: auto 10px;
  color: black;
}

.Nav a.active {
  font-weight: bold;
}

.Nav a:link {
  text-decoration: none;
}
