.SearchBar {
  display: flex;
  justify-content: space-around;
}

.SearchBar input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  font-size: large;
  margin: 10px auto;
}

/* .SearchBar button {
  height: 25px;
} */
